@page "/addcoupon"
@using FastFoodWeb_Client.Components.Layout
@layout AdminLayout

@using Data.Models.CouponModels
@using FastFoodWeb_Client.HttpRepositories.Interfaces

<!-- begin row -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Thêm mã giảm giá</h1>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
<!-- end row -->
<!-- begin row -->
<div class="row editable-wrapper">
    <div class="col-lg-12">
        <div class="row">
            <div class="form-group mb-3">
                <a href="coupons" class="tabledit-edit-button btn btn-danger">
                    Trở về
                </a>
            </div>
            <div class="col-md-6 mx-auto">
                <EditForm Model="_couponForCreate" OnValidSubmit="Create">
                    <DataAnnotationsValidator />
                    @if (!string.IsNullOrEmpty(_errorMessage))
                    {
                        <div class="form-group">
                            <div class="alert alert-danger">
                                @(_errorMessage)
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label">Tên mã giảm giá</label>
                            <InputText @bind-Value="_couponForCreate.Code" class="form-control" />
                            <ValidationMessage For="@(() => _couponForCreate.Code)" class="text-danger" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="control-label">Giảm giá</label>
                            <InputNumber @bind-Value="_couponForCreate.DiscountPrice" class="form-control" />
                            <ValidationMessage For="@(() => _couponForCreate.DiscountPrice)" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Giảm %</label>
                            <InputNumber @bind-Value="_couponForCreate.PercentDiscount" class="form-control" />
                            <ValidationMessage For="@(() => _couponForCreate.PercentDiscount)" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Số lượng</label>
                            <InputNumber @bind-Value="_couponForCreate.MaxDiscountValue" class="form-control" />
                            <ValidationMessage For="@(() => _couponForCreate.MaxDiscountValue)" class="text-danger" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="control-label">Ngày bắt đầu</label>
                            <InputDate @bind-Value="_couponForCreate.StartDate" class="form-control" />
                            <ValidationMessage For="@(() => _couponForCreate.StartDate)" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Ngày kết thúc</label>
                            <InputDate @bind-Value="_couponForCreate.EndDate" class="form-control" />
                            <ValidationMessage For="@(() => _couponForCreate.EndDate)" class="text-danger" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label>Tình trạng</label>
                            <InputSelect @bind-Value="_couponForCreate.IsActive" class="form-control">
                                <option value="true">Hoạt động</option>
                                <option value="false">Ngừng hoạt động</option>
                            </InputSelect>
                            <ValidationMessage For="@(() => _couponForCreate.IsActive)" class="text-danger" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="mt-3">
                                <button class="btn btn-success mb-4 w-100" type="submit">Thêm mã giảm giá</button>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
@code {
    private CouponForCreate _couponForCreate = new CouponForCreate();
    private string _errorMessage;
    [Inject]
    public IHttpCouponService CouponService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private async Task Create()
    {
        try
        {
            await CouponService.CreateCoupons(_couponForCreate);
            NavigationManager.NavigateTo("/coupons");
        }
        catch (Exception ex)
        {
            _errorMessage = ex.Message; 
        }
        
    }
}
