@page "/addproduct"
@using FastFoodWeb_Client.Components.Layout
@layout AdminLayout

<!-- Page content -->
<div class="row">
    <div class="col-md-12 m-b-30">
        <div class="d-block d-sm-flex flex-nowrap align-items-center">
            <div class="page-title mb-2 mb-sm-0">
                <h1>Thêm sản phẩm</h1>
            </div>
        </div>
    </div>
</div>

<div class="form-group mb-3">
    <a href="products" class="tabledit-edit-button btn btn-danger">
        Trở về
    </a>
</div>

<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="card card-statistics">
            <div class="card-body">
                <EditForm Model="@product" OnValidSubmit="Create">
                    <DataAnnotationsValidator />
                    @if (!string.IsNullOrEmpty(_errorMessage))
                    {
                        <div class="form-group">
                            <div class="alert alert-danger">
                                @(_errorMessage)
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="productName">Tên Sản Phẩm</label>
                                <InputText class="form-control" id="productName" @bind-Value="product.ProductName" />
                                <ValidationMessage For="@(() => product.ProductName)" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="productPrice">Giá Sản Phẩm</label>
                                <InputNumber class="form-control" id="productPrice" @bind-Value="product.Price" />
                                <ValidationMessage For="@(() => product.Price)" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="productDiscount">Giá giảm</label>
                                <InputNumber class="form-control" id="productDiscount" @bind-Value="product.Discount" />
                                <ValidationMessage For="@(() => product.Discount)" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label for="imageUrl">Hình ảnh</label>
                        <ImageUpload OnChange="AssignImage" />
                    </div>

                    <div class="form-group">
                        <label for="productDescription">Mô Tả</label>
                        <InputTextArea class="form-control" id="productDescription" @bind-Value="product.Description" />
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="productIsActive">Trạng Thái</label>
                                <InputSelect class="form-control" id="productIsActive" @bind-Value="product.IsActive">
                                    <option value="true">Còn Hàng</option>
                                    <option value="false">Hết Hàng</option>
                                </InputSelect>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="productIsCombo">Là Combo</label>
                                <InputSelect class="form-control" id="productIsCombo" @bind-Value="product.IsCombo">
                                    <option value="true">Có</option>
                                    <option value="false">Không</option>
                                </InputSelect>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="category-id">Loại</label>
                                <InputSelect class="form-control" id="category-id" @bind-Value="product.Category_Id">
                                    <option value="">Chọn loại</option>
                                    @foreach (var category in categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </InputSelect>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Thêm sản phẩm</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>